@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-instrument-serif);

  --color-tx-primary: rgba(26 26 26 / 1);
  --color-tx-secondary: rgba(26 26 26 / 0.5);
  --color-surface-50: oklch(0.9821 0 0);
  --color-surface-100: oklch(0.9612 0 0);
  --color-surface-200: oklch(0.9521 0 0);

  --color-md-background: #fef9ef;
  --color-md-text: #423f3c;
  --color-md-surface: #f4eee5;
  --color-md-highlight: #be6a52;
  --color-md-border: #e8e2d9;

  --animate-wiggle: wiggle 1s ease-in-out infinite forwards;
  --animate-restore: restore 1s ease-in-out forwards;
  --animate-jump: jump 1.5s ease;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(3deg);
    }
  }

  @keyframes restore {
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes jump {
    0%,
    100% {
      transform: scale(1) translateY(0);
    }
    10%,
    16% {
      transform: scale(1.25) translateY(-2px);
    }
    14%,
    18% {
      transform: scale(1.25) translateY(-2px);
    }
    14% {
      rotate: -5deg;
    }
    20% {
      transform: scale(1.25) translateY(-2px);
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}

@layer base {
  ::selection {
    background-color: var(--color-surface-100);
  }

  * {
    @apply decoration-current/50;
  }
}

@layer utilities {
  .bg-skeleton {
    background: linear-gradient(
      to right,
      rgb(26 26 26 / 0.05),
      rgb(31 31 31 / 0.1),
      rgb(26 26 26 / 0.05)
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
  }
}
