.sf-player {
  --sf-max-frame-w: min(100dvw, 375px);
  --sf-max-frame-h: min(100dvh, 667px);
  --sf-frame-w: min(
    var(--sf-max-frame-w, 100dvw),
    calc(var(--sf-max-frame-h, 100dvh) * 9 / 16)
  );
  --sf-frame-h: min(
    var(--sf-max-frame-h, 100dvh),
    calc(var(--sf-max-frame-w, 100dvw) * 16 / 9)
  );

  .sf-frame > * {
    transform: translate(
      0,
      calc(
        var(--sf-scroll, 0px) + var(--sf-frame-h) * var(--sf-active-frame, 0) *
          -1
      )
    );
    transition-duration: var(--sf-scroll-transition, 0ms);
    transition-property: transform;
    will-change: transform;
  }
}
